/**
 * Tailwind
 */
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

/**
 * Base
 */
@import "base/global.pcss";

/**
 * Components
 */
@import "components/btn.pcss";
@import "components/text.pcss";
