{% extends "_layouts/base.twig" %}

{% block main %}

  <main>
    <div class="flex h-screen">
      <div class="m-auto">
        <p class="font-mono text-3xl md:text-6xl">Forbidden access :)</p>
      </div>
    </div>
  </main>

{% endblock %}
