{% extends "_layouts/base.twig" %}

{% set seomate = {
  config: { includeSitenameInTitle: false },
} %}

{% block main %}

  <main>
    <div class="flex h-screen">
      <div class="m-auto">
        <p class="font-mono text-3xl md:text-6xl">Craft CMS Starter</p>
      </div>
    </div>
  </main>

{% endblock %}
