/**
 * Text component
 */
@layer components {

    .text-head {
        @apply text-4xl tracking-tight leading-10 font-extrabold text-gray-900;

        @screen sm {
            @apply text-5xl leading-none;
        }

        @screen md {
            @apply text-6xl;
        }
    }

}
